/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.sku-progress-container {
    width:100%;
    color: white;
    text-align: center;
    font-weight: 300;
}

.sku-progress-bar {
    width:100%;
    background:#eee;
    padding:3px;
    border-radius:3px;
    box-shadow:inset 0px 1px 3px rgba(0,0,0,.2);
}

.sku-progress-bar-fill {
    height:20px;
    display:block;
    background:#3DC264;
    width:0%;
    border-radius:3px;

    -webkit-transition:width 0.8s ease;
    transition:width 0.8s ease;
}

.wpf_sos{
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}